<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="General" type="System.Configuration.DictionarySectionHandler"/>
    <section name="Fondo" type="System.Configuration.DictionarySectionHandler"/>
    <section name="Gradiente" type="System.Configuration.DictionarySectionHandler"/>
    <section name="Sombra" type="System.Configuration.DictionarySectionHandler"/>
    <section name="Grilla" type="System.Configuration.DictionarySectionHandler"/>
    <section name="DER" type="System.Configuration.DictionarySectionHandler"/>

    <section name="FondoUML" type="System.Configuration.DictionarySectionHandler"/>
    <section name="GradienteUML" type="System.Configuration.DictionarySectionHandler"/>
    <section name="SombraUML" type="System.Configuration.DictionarySectionHandler"/>
    <section name="GrillaUML" type="System.Configuration.DictionarySectionHandler"/>    
    <section name="UML" type="System.Configuration.DictionarySectionHandler"/>
    <section name="MUESTRA" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  
<startup>
  
<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

  <General>
    	<add key="imagen_logo" value="mini_logo.jpg" />
	<add key="marca_agua" value="false" />
	<add key="idioma" value="Espanol" />
	<add key="Movil" value="false" />
	<add key="Vista" value="Office_2007" />
	<add key="Comentario" value="Yellow" />
	<add key="text_Comentario" value="Black" />

  </General>

  <Fondo>
    <add key="color" value="255, 255, 255" />
    <add key="imagen_logo" value="mini_logo.jpg" />
    <add key="marca_agua" value="false" />
  </Fondo>

  <Gradiente>
    <add key="dcolor" value="Black" />
    <add key="hcolor" value="255, 255, 128" />
    <add key="estilo" value="Horizontal" />
    <add key="activo" value="False" />
  </Gradiente>
  <Sombra>
    <add key="color" value="Black" />
    <add key="ancho" value="2" />
    <add key="alto" value="2" />
    <add key="estilo" value="Arriba Izquierda" />
    <add key="activo" value="False" />
  </Sombra>
  <Grilla>
    <add key="color" value="255, 128, 255" />
    <add key="ancho" value="2" />
    <add key="alto" value="2" />
    <add key="estilo" value="Punteado" />
    <add key="snap" value="False" />
    <add key="activo" value="False" />
  </Grilla>
  <DER>
    <add key="entidad" value="Aqua" />
    <add key="entidad_debil" value="128, 255, 128" />
    <add key="atributo" value="255, 255, 128" />
    <add key="relacion" value="255, 128, 0" />
    <add key="relacion_ternaria" value="255, 128, 255" />
    <add key="relacion_debil" value="128, 255, 128" />
    <add key="jerarquia" value="128, 128, 255" />
    <add key="jerarquia_padre" value="128, 128, 255" />
    <add key="texto_entidad" value="Black" />
    <add key="texto_entidad_debil" value="Black" />
    <add key="texto_atributo" value="Black" />
    <add key="texto_relacion" value="Black" />
    <add key="texto_relacion_ternaria" value="Black" />
    <add key="texto_relacion_debil" value="Black" />
    <add key="texto_jerarquia" value="Black" />
    <add key="texto_jerarquia_padre" value="Black" />
    <add key="texto_link" value="Black" />
    <add key="link" value="Black" />
    <add key="link_atributo" value="Black" />
    <add key="link_flecha" value="Black" />
  </DER>
  
<FondoUML>
    <add key="color" value="255, 255, 255" />
    <add key="imagen_logo" value="mini_logo.jpg" />
    <add key="marca_agua" value="false" />
  </FondoUML>
  <GradienteUML>
    <add key="dcolor" value="Black" />
    <add key="hcolor" value="255, 255, 128" />
    <add key="estilo" value="Horizontal" />
    <add key="activo" value="False" />
  </GradienteUML>
  <SombraUML>
    <add key="color" value="Black" />
    <add key="ancho" value="2" />
    <add key="alto" value="2" />
    <add key="estilo" value="Arriba Izquierda" />
    <add key="activo" value="False" />
  </SombraUML>
  <GrillaUML>
    <add key="color" value="255, 128, 255" />
    <add key="ancho" value="2" />
    <add key="alto" value="2" />
    <add key="estilo" value="Punteado" />
    <add key="snap" value="False" />
    <add key="activo" value="False" />
  </GrillaUML>
  <UML>
    <add key="Tabla" value="LightYellow" />
    <add key="Campo" value="LightGreen" />
    <add key="Encabezado" value="LightGreen" />
    <add key="texto_Tabla" value="Black" />
    <add key="texto_Campo" value="Black" />
    <add key="texto_Encabezado" value="Black" />
    <add key="texto_link" value="Black" />
    <add key="link" value="Black" />
  </UML>

  <MUESTRA>
    <add key="archivo" value="config.xml"/>
  </MUESTRA>
    
  
  
</configuration>
